.roma {
    background-image: url("../img/roma.jpg/");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
}

.sponsor-title-search {
    background-color: $blueDark;
    color: $lightGrey;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.my_apt_sponsor {
    color: $bBcolor;
    padding: 30px;
    background-color: $lightPink;

    .my_form_ {
        background-color: #06264b;
        color: $lightGrey;
        width: 600px;
        margin: auto;
        border-radius: 40px;
        padding: 20px;
        font-display: flex;
        justify-content: center;
        @media screen and (max-width: 999px) {
            width: 70%;
            font-size: 1.6rem;

            input.km {
                font-size: 1.6rem;
                width: 50%;
            }

            select {
                font-size: 1.6rem;
                background-color: $lightGrey;
                color: $blueDark;
            }
        }
        @media screen and (max-width: 599px) {
            width: 100%;
        }

        fieldset {
            border: 0;
        }

        .my_select {
            color: $bBcolor;
            display: inline-block;
            margin-bottom: 10px;
        }

        #check {
            margin-left: 140px;
            @media screen and (max-width: 999px) {
                margin-left: 0;
            }

            .check-item {
                display: block;
            }
            @media screen and (max-width: 999px) {
                input {
                    width: 30px;
                    height: 30px;
                }
            }

            span {
                margin-left: 10px;
            }

            i {
                color: #fc466b;
                margin-left: 10px;
            }
        }

        #my_btn {
            display: flex;
            justify-content: flex-end;
            margin-top: 15px;

            button {
                width: 80px;
                height: 40px;
                background-color: $lightPink;
                color: $blueDark;
                font-size: 18px;
                border: 0;
                border-radius: 0 16px 0 16px;
                @media screen and (max-width: 999px) {
                    width: 160px;
                    heigth: 80px;
                    font-size: 1.6rem;
                }

                &:hover {
                    border-radius: 16px 0 16px 0;
                    cursor: pointer;
                }

                &[disabled="disabled"] {
                    background-color: lightgray;
                    color: rgba(58, 92, 120);
                }
            }
        }
    }

    .sponsorship-apt-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        // background-color: $blueDark;
        @media screen and (max-width:700px) {
            padding: 0;
        }

        h1 {
            text-align: center;
        }

        .my_box-apt {
            padding: 10px;
            color: $lightPink;
            width: 100%;
            text-align: center;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            @media screen and (max-width:700px) {
                padding: 0;
            }

            &.sponsored {
                border-radius: 5px;
            }

            .apartment {
                &.sponsored {
                    border: 1px solid #5bbaff;
                    box-shadow: 0 0 10px #5bbaff;
                }
                background-color: #fff;
                flex-direction: column;
                border-radius: 5px;
                margin: 20px;
                // border: 2px solid $blueDark;
                box-shadow: 0 0 11px 3px rgba(0,0,0,0.75);
                width: 500px;
                padding: 20px;
                transition: transform 0.2s ease-in-out;
                color: $bBcolor;

                .image {
                    position: relative;
                    height: 250px;
                    width: 100%;
                    margin-top: 10px;

                    i {
                        position: absolute;
                        top: 10px;
                        right: 10px;
                        font-size: 25px;
                        transition: 0.3s;

                        &:hover {
                            color: #fff;
                        }
                    }

                    img {
                        border-radius: 5px;
                        width: 100%;
                        height: 100%;
                        object-fit: fill;
                    }

                    .m-button {
                        position: absolute;
                        bottom: 16px;
                        left: 20px;
                        color: #fff;
                        background-color: $bBcolor;
                        border-radius: 0 16px 0 16px;
                        font-size: 25px;
                        padding: 5px;
                        cursor: pointer;
                        transition: 0.2s;
                        display: block;

                        &:hover {
                            color: $bBcolor;
                            background-color: #fff;
                            border-radius: 16px 0 16px 0;
                        }
                    }
                }

                &:hover {
                    transform: scale(1.03);
                }
            }
        }
    }
}
